<h2 class="text-primary">SignUp Please</h2>
<form class="form-group" (ngSubmit)="handleSubmit(f)" #f="ngForm">
  <div class="row">
    <div class="col-9">
      <input
        type="text"
        required
        class="form-control"
        placeholder="Enter Your Email"
        ngModel
      />
    </div>
    <div class="col-3">
      <input
        type="password"
        required
        class="form-control"
        placeholder="Enter Your password"
        ngModel
      />
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-lg btn-primary">Sign Up</button>
    </div>
  </div>
</form>
